
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PIXEL</title>
    <meta name="viewport" content="width=devicewidth, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>

<body>

{% include 'navbar.html' %}

{% include 'bootstrap.html' %}


{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% block content %}

{% endblock %}

</body>
</html>