{% extends 'main.html' %}

{% block content %}




<style>
    .bookshelf-container{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
    }
</style>




<div class="bookshelf-container">

    <div>

    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                            <img  src="{{ bookshelf.book_image_url }}" alt="Card image captured" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">{{bookshelf.name}}</h5>
                            <p class="card-text">Description: {{bookshelf.description}}</p>

                            <div class="borrow-form">
                                <form method="post" action="">
                                {% csrf_token %}
                                <input type="submit"   value="BORROW BOOK"/>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>BORROWERS</h3>
        <hr>

            {% for borrow in bookshelf_borrows %}
                <div>
                    <big>{{borrow.user}} borrowed {{borrow.borrow_time|timesince}} ago</big>
                </div>
            {% endfor %}
    </div>

</div>

{% endblock %}





