{% extends 'main.html' %}

{% block content%}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <p>ARE YOU SURE YOU WANT TO DELETE '{{obj}}'?</p>
        <a href="{{request.META.HTTP_REFERER}}">GO BACK</a>

        <input type="submit" value="CONFIRM" />
    </form>
</div>



{% endblock content %}