{% extends 'main.html' %}


{% block content %}


<style>

    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

</style>


<div class="home-container">


    <div>
        <h2>CATEGORIES</h2>
        <hr>

        <div>
            <a href="{% url 'home' %}">ALL</a>
        </div>

        <div>
            {% for book in books %}
            <div>
                <a href="{% url 'home' %}?q={{book.name}}">{{book.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div>

        <h5>{{bookshelf_count}} Books Available</h5>

        <h3>
        <a href='{% url "add-bookshelf" %}'>ADD A BOOK</a>
        </h3>


        <div>

            {% for bookshelf in bookshelfs %}

            <div>
                {% if request.user == bookshelf.librarian %}
                <a href="{% url 'deletebookshelf' bookshelf.id %}">DELETE</a>
                <a href="{% url 'editbookshelf' bookshelf.id %}">EDIT</a>
                {% endif %}
                <span>@{{bookshelf.librarian.username}}</span>
                <h5>{{bookshelf.id}} -- <a href='{% url "bookshelf" bookshelf.id %}'> {{bookshelf.name}}</a></h5>
                <small>{{bookshelf.bookCategory.name}}</small>

                <hr>
            </div>

            {% endfor %}
        </div>

    </div>

</div>


{% endblock content %}

