{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Name">

        <label>Password:</label>
        <input type="text" name="password" placeholder="Enter Password">

        <input type="submit" value="Login"/>
    </form>

<p>Haven't Signed up yet?</p>
<a href="{% url 'register' %}">Sign up</a>

</div>

{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>

    <p>Already Signed up yet?</p>
<a href="{% url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock content %}























